	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="styles/styles.css" type="text/css" rel="stylesheet">
	<script src="javascript/main.js" type="text/javascript"></script>
	<script src="javascript/cufon-yui.js" type="text/javascript"></script>
	<script src="javascript/CyrillicOld_700.font.js" type="text/javascript"></script>
	<script type="text/javascript">
		Cufon.replace('h1');
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	{% if page.slug == "recommendations" %}
	<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
	{% endif %}
	<title>Реставрация и восстановление икон и картин в Екатеринбурге. Иконопись. Реставрационная мастерская. Невьянская икона. Древнерусская икона. Копии икон. Мастер-классы по иконописи.</title>
	<meta name="yandex-verification" content="51e6e18ec8f3d36f">
