	<nav id="nav_index">
	<ul>
		<li><a href="restoration.html" title="Реставрация" {% if page.slug == "restoration" %}class="active"{% endif %}>Реставрация</a></li>
		<li><a href="reviews.html" title="Рецензии" {% if page.slug == "reviews" %}class="active"{% endif %}>Рецензии</a></li>
		<li><a href="recommendations.html" title="Рекомендации" {% if page.slug == "recommendations" %}class="active"{% endif %}>Рекомендации</a></li>
		<li><a href="documentation.html" title="Реставрационная Документация" {% if page.slug == "documentation" %}class="active"{% endif %}>Реставрационная Документация</a></li>
		<li><a href="iconography.html" title="Иконопись" {% if page.slug == "iconography" %}class="active"{% endif %}>Иконопись</a></li>
		<li><a href="about.html" title="О нас" {% if page.slug == "about" %}class="active"{% endif %}>О нас</a></li>
		<li><a href="resume.html" title="Резюме" {% if page.slug == "resume" %}class="active"{% endif %}>Резюме</a></li>
	</ul>
	</nav>
